.color-back-black {
    background-color : rgb(0, 0, 0);
}
.color-text-white {
    color : #ffffff;
}
h1, h2, h3 {
    margin-top    : 0;
    margin-bottom : 0;
    color         : #F29C00;
    background-color: #000000;
    font-size: 25px;
    position: relative;

}
.text-align-r{
    right: 0;
    position : absolute;
    /*display: block;*/
    font-size: 20px;
}
.layer-2 {
    z-index : 1;
}
.text-align-r:hover{
    opacity : 0.9;
}
.text-color-black {
    color:#000000;
}
.text-whitespaces {
    white-space : pre;
}
.h2, h2 {
    font-size : 20px;
}
/*.collapsing{color : rgb(169, 169, 169) }*/
[data-toggle]:hover {
    text-decoration : underline;
}
[data-toggle] {
    color            : #ffffff;
    background-color : #2d2d2d;
}
.collapse.in:hover {
    background-color : #f8f8f8 }
::-webkit-scrollbar {
    width    : 2px;
    position : fixed;
}
::-webkit-scrollbar-track {
    width         : 2px;
    border-radius : 10px;
}
::-webkit-scrollbar-thumb {
    border-radius    : 10px;
    background-color : #F29C00;
}
body {
    min-height : 1200px;
    max-width  : 900px;
}
div {
    display: block;
}
